---
layout: home
permalink: /
pagination:
  enabled: true
toc:
  enabled: true
---

<h2>Welcome</h2>
<hr>

<p>
  This is a place where the snippets are stored for my blogs.
</p>

<div style="text-align: center;">
  <p class="TnCLink">
    To see
    <a href="{{ '/tags.html' | relative_url }}"> tags click here</a>.
    To see
    <a href="{{ '/categories.html' | relative_url }}">
      categories click here</a
    >.
  </p>
</div>

<h3>Search</h3>
<hr>
<p>
  If you have a snippet name you can search it
  <a herf="{{ '/search.html' | relative_url}}">
    here</a
  >.
</p>

<h3>Latest Snippets</h3>
<hr>

{% include pagination.html %}

<h3>License</h3>
<hr>
<p>
  See the
    <a href="{{ '/about.html' | relative_url }}"
      >about page</a
    >
  for more info.
</p>

{% include next-back-links.html %}

<style type="text/css">
.pagpost {
  text-indent: 1rem;
}
.posttitle {
  font-size: 1.8em;
}
.date {
  color: #ea66a8;
}
.pagination {
  overflow: hidden;
  vertical-align: middle;
}
.older_link {
  font-size-adjust: 2em;
}
.older {
  float: left;
  color: #159957;
}
.page_number_container {
  text-align: center;
}
.next_link {
  font-size-adjust: 2em;
}
.newer {
  float: right;
  color: #159957;
}
</style>
